body {
	background-color: #111;
	font-size: 16px;
	font-family: verdana, helvetica, sans-serif;
	color: #eee;
	margin: 0;
	padding: .5em;
	box-sizing: border-box;

}

h2 {
}

h2.App-header {
	text-align: center;
	color: black;
	background-color: white;
	padding: .5em 0;
}

.splatImage {
	vertical-align: middle;
}

/* **************************************** controls in general */

button {
	font-size: 100%;
	padding: .2em 1em;
	margin: .2em;
	background-color: #112;
	color: #eef;
	border-radius: .5em;
}

input {
	background-color: transparent;
	color: #eee;
}

/* **************************************** psi display */

/* this is full width; svg will conform to its width via code */
section.WaveWrapper {
	position: relative;
	border-color: #aaa;
	background-color: #111;
}

/* the SVG itself */
svg.WaveView {
	border: 1px solid #aaa;
	margin: 0;
}

/* each bar in the bargraph */
rect.psiBar {
	float: left;
	background-color: gray;  /* default; each bar has its own color */
}

/* the active area of the wave, excluding the wrap around ends.
** The potential can squirm around inside this area.  */
svg.WaveView rect.waveCard {
	background: #000;
	z-index: 40;
}

/* the active area of the wave, excluding the wrap around ends.
** The potential can squirm around inside this area.  */
g.potentialArea {
	background: #000;
	z-index: 40;
	/*position: relative;  / * does this have an effect? */
}

/* the line for the potential, displayed in white on top of the wave */
g.potentialArea path.potentialLine {
	stroke-width: 5px;
	stroke: #fef;
	z-index: 100;
}

/* a fat line for hit testing.  same path as the potentialLine,
	but wider and has event handlers */
g.potentialArea path.tactileLine {
	stroke-width: 200px;
	stroke: #844;
    cursor: row-resize;
    pointer-events: stroke;
	z-index: 110;
}

/* a fat line for hit testing.  same path as the potentialLine,
	but wider and has event handlers */
g.potentialArea text.elapsedTime {
	fill: #ff8;
	stroke: #f8f;
	color: #8ff;
	background-color: #f88;
	z-index: 100;
}

