body {
	background-color: #111;
	font-size: 16px;
	font-family: verdana, helvetica, sans-serif;
	color: #eee;
	margin: 0;
	padding: .5em;
	box-sizing: border-box;

}

h2 {
}

h2.App-header {
	text-align: center;
	color: black;
	background-color: white;
	padding: .5em 0;
}

.splatImage {
	vertical-align: middle;
}

/* **************************************** controls in general */

button {
	font-size: 100%;
	padding: .2em 1em;
	margin: .2em;
	background-color: #112;
	color: #eef;
	border-radius: .5em;
}

input {
	background-color: transparent;
	color: #eee;
}

/* **************************************** psi display */

/* this is full width; svg will conform to its width via code */
section.WaveWrapper {
	position: relative;
	border-color: #aaa;
	background-color: #111;
}


svg.WaveDisplay {
	border: 1px solid #aaa;
	margin: 0;
}

/* each bar in the bargraph */
.psiBar {
	float: left;
	background-color: gray;  /* default; each bar has its own color */
}

// the active area of the wave, excluding the wrap around ends
.activeArea {
	background: #000;
}
